<header>
  <h2>seach customer</h2>  
</header>

<section class="search-form">
  <%= form_for :customers, method: :get do |f| %>
    <div class="input-group input-group-lg">
      <%= label_tag :keywords, nil, class: "sr-only"%>
      <%= text_field_tag :keywords, nil, 
      placehoder: "First name, Last name, or Email Address", class: "form-control input-lg"%>
      <span class="input-group_btn">
        <%= submit_tag "find customers", class:  "btn btn-primary btn-lg"%>        
      </span>
    
    </div>
    
  <% end %>
</section>
<section class="search-result">
  <header>
   <h3>Results</h3>
  </header>

  <table class="table table-striped">
    <thead>
      <tr>
        <td>First name</td>
        <td>Last name</td>
        <td>Email</td>
        <td>Joined</td>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer|   %>
        <tr>
          <td><%=customer.first_name%></td>
          <td><%=customer.last_name%></td>
          <td><%=customer.email%></td>
          <td><%=customer.created_at%></td>
        </tr>

      <% end %>

    </tbody>

  </table>
</section>